<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="menuPrincipal" color="primary"></ion-menu-button>
    </ion-buttons>



  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <!-- Logo -->
  <ion-avatar>
    <img src="assets/logo.png" alt="Imagen Logo">
  </ion-avatar>


  <!-- Barra d busqueda -->
  <ion-searchbar animated="true" (ionChange)="buscar($event)" placeholder="Introduce un titulo o autor"></ion-searchbar>

  <!--Cards-->
  <ion-card *ngFor="let noticia of noticiasAux" (click)="abrirDetalles(noticia._id)">
    <img alt="Imagen" [src]="noticia.imagenes || 'assets/placeholder.jpg'" />
    <ion-card-header>
      <ion-card-title>{{noticia.titulo}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{noticia.autor}}
    </ion-card-content>
  </ion-card>

  <!-- Infinite Scroll-->
  <ion-infinite-scroll threshold="150px" (ionInfinite)="cargarDatos($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando otras 5 noticias...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
